* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dedcff;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.container * {
    padding: 10px;
    color: #000;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(10, auto);
}

.container .navigation {
    background-color: #dd7aff;
    grid-column: 1 / -1;
}

.container .logo {
    background-color: #d2ff64;
}

.container .header {
    background-color: bisque;
    grid-column: span 2;
}

.container .content {
    background-color: floralwhite;
    grid-column: span 2;
    grid-row: 3 / -2;
}

.container .sidebar {
    background-color: coral;
}

.container .footer {
    background-color: blueviolet;
    grid-column: span 3;
}

@media screen and (max-width: 768px) {

    .container .content {
        grid-column: span 3;
    }

    .container .sidebar h3 {
        font-size: 4vw;
    }

}

